.card-cover {
  position: relative;
  border: none;
  width: 330px;
  margin: auto;
  padding: auto;
  height: 100%;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.card-gla {
  background-color: transparent;
  border: none;
  width: 330px;
  margin: auto;
  padding-top: 20px;
}
.card-gla .gla-id {
  position: absolute;
  top: 20px;
  left: 0;
}
.card-gla .gla-id .badge {
  background: -webkit-linear-gradient(135deg, #59a1ed, #59a1ed, #f4ab23);
  background: linear-gradient(-45deg, #59a1ed, #59a1ed, #f4ab23);
  background-size: 400% 400%;
  -webkit-animation: glaid 3s ease infinite;
  animation: glaid 3s ease infinite;
  padding: 5px 10px;
  font-weight: 400;
  min-width: 80px;
  font-size: 1rem;
}
.card-gla__img {
  min-height: 365px;
  z-index: 0;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  background-image: url("/assets/images/pages/marketplace/place-electric.png");
}
.card-gla__img img {
  width: 100%;
}
.card-gla__gif {
  min-height: 490px;
  z-index: 0;
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
}
.card-gla__gif img {
  width: 100%;
  background-image: url("/assets/images/pages/marketplace/place-electric.gif");
}
.card-gla .card-header {
  margin-top: -60px;
  min-height: 50px;
  z-index: 2;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  font-weight: 500;
}
.card-gla .card-body,
.card-gla .card-header {
  background-size: 100% 100%;
  color: #ffffff;
}
.card-gla .card-body {
  margin-top: -50px;
  min-height: 215px;
  background-image: url("/assets/images/pages/marketplace/card-market__body.png");
  padding: 45px 20px 20px;
  z-index: 1;
}
.card-body-right {
  /* position: absolute; */
  background-color: transparent;
  border: solid;
  width: 200px;
  margin: auto;
  /* top: 390px; */
  bottom: 10px;
  min-height: 100px;
  z-index: 1;
}
.card-body-right .button1-right {
  margin-top: -10px;
  min-height: 215px;
  background-image: url("/assets/images/pages/my-bag/btn1.png");
  padding: 45px 20px 20px;
  z-index: 1;
}
.card-body-right .button2-right {
  margin-top: -10px;
  min-height: 215px;
  background-image: url("/assets/images/pages/my-bag/btn2.png");
  padding: 45px 20px 20px;
  z-index: 1;
}
.card-gla .card-body .gla-statis {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}
.card-gla .card-body .gla-statis__title {
  color: #0f82fb;
  font-size: 1rem;
  font-weight: bold;
}
.card-gla .card-body .gla-statis__value {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
}
.card-gla .card-body .owner-address {
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  text-align: center;
  color: #0f82fb;
  margin-bottom: 0.75rem;
}
.card-gla .card-body .owner-address span {
  font-size: 1.25rem;
  color: #ffffff;
  font-weight: 500;
}
.card-gla .card-body .gla-price {
  color: #ffffff;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.card-gla .card-body .gla-price__coin {
  margin-right: 0.25rem;
}
.card-gla .card-body .gla-price__coin img {
  width: 2rem;
}
.card-gla .card-body .gla-price__value {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
}
.card-gla .card-body .gla-price__value span {
  font-size: 2rem;
  font-weight: 500;
  line-height: 2rem;
  color: #ffffff;
}
.card-gla .card-footer {
  background-color: transparent;
  border: none;
}
.card-gla.market .card-gla__img:hover,
.card-gla.market .gla-id:hover {
  cursor: pointer;
}
.card-gla.market .card-header:hover {
  cursor: pointer;
  /* color: #59a1ed; */
}
.card-gla.my-gla .card-gla__img:hover,
.card-gla.my-gla .gla-id:hover {
  cursor: pointer;
}
.card-gla.my-gla .card-header:hover {
  cursor: pointer;
  /* color: #59a1ed; */
}
.card-gla.my-gla .card-body {
  min-height: 180px;
}
.card-gla.my-gla.farming .card-header {
  z-index: 2;
}
.card-gla.my-gla.farming .farming-badge {
  position: absolute;
  top: 20px;
  right: 0;
}
.card-gla.my-gla.farming .farming-badge .badge {
  background: -webkit-linear-gradient(135deg, #59a1ed, #59a1ed, #f4ab23);
  background: linear-gradient(-45deg, #59a1ed, #59a1ed, #f4ab23);
  background-size: 400% 400%;
  -webkit-animation: glaid 3s ease infinite;
  animation: glaid 3s ease infinite;
  padding: 5px 10px;
  font-weight: 400;
  min-width: 80px;
  font-size: 1rem;
}
.card-gla.my-gla.farming .farming-axe {
  width: 250px;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 1;
}
.card-gla.my-gla-details {
  margin: auto;
}
.card-gla.fight-monster {
  width: 310px;
}
.card-gla.fight-monster .card-gla__gif {
  min-height: 450px;
}
.card-gla.fight-monster .card-body {
  min-height: 230px;
}
.card-gla.fight-monster .card-body .gla-statis {
  width: 100%;
  text-align: left;
  font-size: 1rem;
  margin-bottom: 0.75rem;
}
.card-gla.fight-monster .card-body .gla-statis__title {
  color: #501f00;
  font-size: 1rem;
}
.card-gla.fight-monster .card-body .gla-statis__value {
  color: #59a1ed;
  font-size: 1rem;
  font-weight: 500;
}
.card-gla .gla-id .badge {
  background: -webkit-linear-gradient(135deg, #59a1ed, #59a1ed, #f4ab23);
  background: linear-gradient(-45deg, #59a1ed, #59a1ed, #f4ab23);
  background-size: 400% 400%;
  -webkit-animation: glaid 3s ease infinite;
  animation: glaid 3s ease infinite;
  padding: 5px 10px;
  font-weight: 400;
  min-width: 80px;
  font-size: 1rem;
  -webkit-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}
@-webkit-keyframes glaid {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}
@keyframes glaid {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

.modal-upgrade {
  padding: 20px 40px;
  background: url("/assets/images/pages/my-bag/frame.png") top center no-repeat;
  background-size: 100% 100%;
  display: flex;
  justify-content: space-around;
  width: 800px;
  margin: 0 auto;
}

.modal-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.modal__upgrade--progress {
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
}

.modal__items--gem {
  position: relative;
  background-color: transparent;
  padding: 0;
}

.modal__items--gem span {
  position: absolute;
  width: 100px;
  bottom: 6px;
  right: 5px;
  text-align: right;
}

.card-shop-anim-title {
  position: absolute;
  width: 100%;
  top: 20px;
  width: 280px;
  text-align: left;
}

.card-shop-anim-title span {
  color: #fafafa !important;
  font-weight: bold !important;
  font-size: 20px;
}

.modal__hero .card-shop-anim,
.modal__hero--upgrade .card-shop-anim {
  position: absolute;
  width: 100%;
  bottom: -7px;
}

.modal__button--group {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__button--group button {
  width: 200px;
  margin: 10px;
}

.modal__items--gem-text {
  font-weight: 500;
  font-size: 20px;
  color: #e9ecef;
  text-shadow: 0px 0px 17px #ce5937;
}
.image__arrow--down {
  display: none;
}

.card-shop-button a {
  color: #ffffff !important;
  font-weight: bold !important;
  font-family: Ubuntu, sans-serif;
  font-size: 20px;
}

.card-description {
  font-style: italic;
  font-size: 16px;
  font-weight: normal;
}
@media (max-width: 768px) {
  .image__arrow {
    display: none;
  }
  .image__arrow--down {
    display: none;
  }
  .modal-items {
    flex-direction: row;
  }
  .modal-upgrade {
    width: 320px;
    flex-direction: column;
  }

  .modal__upgrade--progress {
    flex-direction: column;
    margin-top: 145px;
  }

  .modal__upgrade--progress .card-shop-ava {
    min-height: auto;
  }
  .modal__upgrade--progress .card-shop-anim {
    margin-bottom: -40px;
    z-index: 2;
    position: relative;
  }

  .modal__hero--upgrade {
    /* margin-top: 40px; */
    margin-top: 100px;
  }

  .image__arrow--down {
    display: block;
  }

  .card-shop-button-link {
    color: #ffffff !important;
    font-weight: bold !important;
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
  }

  .modal__items--upgrade-msg-text {
    position: absolute;
    width: 100px;
    bottom: 6px;
    right: 5px;
    text-align: right;
  }

  .modal__hero--upgrade .card-shop-anim-listmarket {
    position: absolute;
    width: 100%;
    bottom: 57px;
  }

  .maximum-text {
      transform: translateX(10px);
  }
}

.checkbox {
  position: absolute;
  top: 0;
  left: 0;
}

.maximum-text {
  font-weight: bold;
  color: red;
  font-size: 1.75rem;
  width: 190px;
  text-align: center;
  transform: translateY(15px);
}

.edit-btn {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 2px;
  background-image: url("/assets/images/pages/my-bag/edit.png");
  background-color: transparent;
  width: 24px;
  height: 24px;
}

.percentage {
  position: absolute;
  width: 250px;
  margin: 0;
  text-align: center;
  transform: translateY(-75px);
}
